.mainparent{
  width: 100%;
  background-color: red;
  height: 100%;
}
.item_card{
  background-color: red;
}
.solarcard{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parentcard{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding:2rem;
  border: 0.1rem solid rgba(86, 86, 86, 0.656);
  border-radius: 1rem;
}
.cut{
  text-decoration: line-through;

}
.showprice{
  visibility: visible;
}
.hideprice{
  visibility: hidden;
}
.infocard{
  
  margin: auto;
}
@media screen and (min-width: 700px) {
  .parentcard {
    height: 30rem;
    border-radius: "1rem";

  }
}